{% extends 'evaluArt/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About EvaluArt
{% endblock %}

{% block content_block %}
	<div>
		<h3>About EvaluArt</h3><br />
		<p>Our application aims to give artists a space to discuss their
		art and new techniques. They can share art they have already made 
		and get specific advice. It also may provide a canvas that people can use 
		to practice drawing online without needing 
		to purchase a possibly expensive software.​ </p><br />
	</div>
{% endblock %}