{% extends "evaluArt/base.html"  %}
{% load staticfiles %}

{% block title_block %}
    Artwork
{% endblock %}


{% block header_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/artwork_list.css' %}?{% now 'U' %}">
{% endblock %}

{% block content_block %} 
    <br>
    <!-- takes in form to filter by categories -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="filter" type="submit">Filter</button>
    </form>
   
    <div class="container">
        <div class="content">
            <div class="section-inner clearfix">     
                   <!-- iterates through list of artworks provided -->
            {% for artwork in artwork %}
                <div class="card">
                    <div class="card-body">                   
                        <div class="row">
                            <div class="col-md-4">
                                <!-- shows the artwork -->
                                <a href="{% url 'evaluArt:show_artwork' artwork.pk %}">
                                    <img src="{{ artwork.picture.url }}" class="pics img-responsive" > 
                                </a>
                            </div>
                            <div class="col-md-8">

                                <h6>
                                    <p class="artwork-info">
                                        <!-- details about the artwork -->
                                        <span>
                                            <strong>
                                            Submitted by:
                                            </strong>
                                             {{ artwork.user.user.username }} 
                                        </span>  <br>
                                        <span> 
                                            <strong>
                                            Date:
                                            </strong>
                                             {{ artwork.date_posted }} 
                                        </span> <br>
                                        <span>
                                            <strong>
                                            Description:
                                            </strong>
                                             {{ artwork.description }} 
                                        </span> <br>
                                        <strong>Category: </strong>
                                        <span class="badge badge-primary">{{ artwork.category }}</span> 
                    
                                        <br>
                                      </p>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
            <p>There are no posts</p>
            {% endfor %}    

            </div>
        </div>

    </div>



    <!-- script written to keep the aspect ratio but also fit the bootstrap grid system -->
    <script src = {% static "js/artwork_list.js" %}></script>
{% endblock %}