{% extends 'evaluArt/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ user.username }}
{% endblock %}

<!-- inspired from: https://www.bootdey.com/snippets/view/profile-with-data-and-skills#html -->
{% block header_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/my_account.css' %}?{% now 'U' %}">
{% endblock %}

{% block content_block %}
    <!-- copy pasted -->
    <div class="container">
        <div class="main-body">
        
              <div class="row gutters-sm">

                <!-- picture section -->
                <div class="col-md-3 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img id="profile_picture" src={{ profile.picture.url }} alt="profile picture">
                      </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                        Edit Profile
                    </button>

                  </div>
                </div>


                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Change Profile Details </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <form id="update_details" method="post" action="{% url 'evaluArt:my_account' %}" enctype="multipart/form-data">

                                {% csrf_token %}
                                
                                <!-- Display each form -->
                                {{ update_details.as_p }}
                                
                                <!-- Provide a button to click to submit the form. -->
                                <input type="submit" name="submit" value="Update" />
                            </form>
                        </div>
                      </div>
                    </div>
                </div>


                <!-- details section -->
                <div class="col-md-9">
                    <div class="card mb-3">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-3">
                                <h6 class="mb-0">Username</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                {{ user.username }}
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                {{ user.email }}
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                <h6 class="mb-0">Experience</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {% if profile.experience == "0" %}
                                        Beginner
                                    {% elif profile.experience == "1" %}
                                        Novice
                                    {% elif profile.experience == "2" %}
                                        Expert
                                    {% elif profile.experience == "3" %}
                                        Professional
                                    {% endif %}
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                <h6 class="mb-0">Description</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <!-- To be changed -->
                                    {{ profile.description }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        

    <div class="container">
        <h2><strong>My Artwork </strong></h2>
        <span><a href={% url 'evaluArt:artwork_create' %}>Add new Artwork +</a></span>
        <br/>
        <br/>

        <div class="container">
            <div class="row">
                {% if not artwork.all %}
                    No uploads yet
                {% else  %}
                    {% for a in artwork %}
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <a href="#"><img class="pic left-block img-responsive" src={{ a.picture.url }}/></a>
                        {{ a.picture.get_absolute_url }}
                        </div>


                    {% endfor %}
                {% endif %}



            </div>
        </div>

    </div>
{% endblock %}