<!-- Shows the other user profile account -->
{% extends 'evaluArt/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ show_user.username }}
{% endblock %}

<!-- inspired from: https://www.bootdey.com/snippets/view/profile-with-data-and-skills#html -->
{% block header_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/my_account.css' %}?{% now 'U' %}">
{% endblock %}

{% block content_block %}
    <!-- copy pasted -->
    <div class="container">
        <div class="main-body">
              <div class="row gutters-sm">
                <!-- profile picture section -->
                <div class="col-md-3 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img id="profile_picture" src={{ profile.picture.url }} alt="profile picture">
                      </div>
                    </div>

                  </div>
                </div>


                <!-- details section -->
                <div class="col-md-9">
                    <div class="card mb-3">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-3">
                                <h6 class="mb-0">Username</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                {{ show_user.username }}
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                {{ show_user.email }}
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                <h6 class="mb-0">Experience</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {% if profile.experience == "0" %}
                                        Beginner
                                    {% elif profile.experience == "1" %}
                                        Novice
                                    {% elif profile.experience == "2" %}
                                        Expert
                                    {% elif profile.experience == "3" %}
                                        Professional
                                    {% endif %}
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                <h6 class="mb-0">Description</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <!-- To be changed -->
                                    {{ profile.description }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        

    <div class="container">
        <h2><strong>{{ show_user.username }}'s Artwork </strong></h2>

        <div class="container">
            <div class="row">
                {% if not artwork.all %}
                    No uploads yet
                {% else  %}
                    {% for a in artwork %}
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <a href="{% url 'evaluArt:show_artwork' a.pk %}"><img class="pic left-block img-responsive" src={{ a.picture.url }}/></a>
                        {{ a.picture.get_absolute_url }}
                        </div>


                    {% endfor %}
                {% endif %}



            </div>
        </div>

    </div>
{% endblock %}