{% extends "evaluArt/base.html"  %}
{% load staticfiles %}

{% block title_block %}
    Artwork - {{ artwork.pk }}
{% endblock %}


{% block header_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/show_artwork.css' %}?{% now 'U' %}">
{% endblock %}

{% block content_block %}    
<br>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img class="artwork" src={{ artwork.picture.url }}>
        </div>
        <div class="col-md-4">
            <div class="card" id="profile_description">
                <div class="card-body">
                    <img id="uploader_pp" src={{ profile.picture.url }}>
                    <strong>
                    {{ profile.user.username }}
                    </strong><br>
                    Posted - {{ artwork.date_posted }}<br><br>

                    <strong>Description: </strong>
                    {{ artwork.content }}
                </div>
            </div>
            <br>
            <div class="card" id="comments">
                <div class="card-body">
                    <div class="comment_div overflow-auto" >
                        <div class="comments_body">
                            {% if comments %}
                                <h4>Comments: </h4>
                                {% for c in comments %}
                                    <div class="comment_placeholder">
                                        <img class="comment_pp" src={{ c.user.picture.url }}>
                                        <strong>{{ c.user.user.username }}</strong>
                                        <div class="posted">Posted on: {{ c.date }} </div>
                                        <div class="comment_text">
                                            {{ c.text }}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <h4>No comments yet...</h4>
                            {% endif %}
                        </div>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <form  id="comment_form" method="post" action="{% url 'evaluArt:show_artwork' artwork.pk %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ comment_form.as_p }}
                            <input type="submit" name="submit" value="Comment" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}