{% extends "evaluArt/base.html"  %}
{% load staticfiles %}

{% block title_block %}
    Artwork - {{ artwork.pk }}
{% endblock %}


{% block header_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/show_artwork.css' %}?{% now 'U' %}">
{% endblock %}

{% block content_block %}    
<br>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img class="artwork" src={{ artwork.picture.url }}>
        </div>
        <div class="col-md-4">
            <div class="card" id="profile_description">
                <div class="card-body">
                    <a href="{% url 'evaluArt:show_account' profile.user.username %}">
                        <img id="uploader_pp" src={{ profile.picture.url }}>
                        <strong>
                        {{ profile.user.username }}
                        </strong>
                    </a>
                    <br>

                    Posted - {{ artwork.date_posted }}<br>
                    <strong>Category: </strong>
                    <span class="badge badge-primary">{{ artwork.category }}</span> 

                    <br>
                    <strong>Description: </strong><br>
                    {{ artwork.description }}
                </div>
            </div>
            <br>
            <div class="card" id="comments">
                <div class="card-body">
                    <div class="comment_div overflow-auto" >
                        <div class="comments_body">
                            {% if comments %}
                                <h4>Comments: </h4>
                                {% for c in comments %}
                                    <div class="comment_placeholder">
                                        <a href= "{% url 'evaluArt:show_account' c.user.user.username %}">
                                            <img class="comment_pp" src={{ c.user.picture.url }}>
                                            <strong>{{ c.user.user.username }}</strong>

                                        </a>
                                        <div class="posted">Posted on: {{ c.date }} </div>
                                        <div class="comment_text">
                                            {{ c.text }}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <h4>No comments yet...</h4>
                            {% endif %}
                        </div>
                    </div>
                    <br><br>

                    {% if user.is_authenticated %}
                    <div class="form-group">
                        <form  id="comment_form" method="post" action="{% url 'evaluArt:show_artwork' artwork.pk %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ comment_form.as_p }}
                            <input type="submit" name="submit" value="Comment" />
                        </form>
                    </div>

                    {% else %}
                        <input class="form-control" type="text" placeholder="Log in to comment..." readonly>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}